/* 顶部导航布局 */
.pin-nav-wrap{
    position: absolute !important;
    top:0px !important;
    display:block !important;
    z-index: 999;
}
/* 游戏广告图 */
.game-img img{
    height:338px;
}
/* 书籍详情 */
.book-details-wrap{
    width:990px;
    margin:0 auto;
    position: relative;
    z-index: 10;
    background:#fff;
    margin-top:-120px;
    border-top:1px solid #999;
}
.book-info{
    padding:15px;
    z-index: 999;
    position: relative;
}
/* 图定位 书*/
.book-details-wrap .book-img-wrap{
    width:144px;
    height:192px;
    box-shadow: 0px 2px 6px 2px #ddd;
    float:left;
}
.book-details-wrap .book-img-wrap a{
    display: block;
    width:144px;
    height:192px;
    overflow: hidden;
}
.book-details-wrap .book-img-wrap img{
    width:144px;
    height:192px;
    transition:all .5s linear;
}
.book-details-wrap .book-img-wrap img:hover{
    transform: scale(1.05);
}
/* 详情 */
.book-details-wrap .book-detail{
    margin-left:20px;
    float:left;
}
/* 作者 */
.book-details-wrap .book-detail>h1 span{
    font: 14px PingFangSC-Regular,'-apple-system',Simsun;
    margin-left:30px;
    margin-right:10px;
    color: #262626;
}
.book-details-wrap .book-detail>h1 a{
    color: #262626;
    margin-right:10px;
}
/* 标签 */
.book-details-wrap .book-detail .tag{
    margin:15px 0 15px 0;
}
/* 基本样式 */
.book-details-wrap .book-detail .tag span,
.book-details-wrap .book-detail .tag a{
    display:inline-block;
    width:46px;
    height:24px;
    font-size:12px;
    text-align: center;
    line-height: 24px;
    border-radius:15px;
}
.book-details-wrap .book-detail .tag span{
    color:#3f5a93;
    border:1px solid #9fadc9;
}
.book-details-wrap .book-detail .tag a{
    color:#bf2c24;
    border:1px solid #ffb0b4;
}
/* 类型 */
.book-details-wrap .book-detail .tag a:last-child{
    width:70px;
}
/* 小说描述 */
.book-details-wrap .book-detail .discrible{
    color:#333;
    letter-spacing: 2px;
    margin-bottom:10px;
}
/* 详情汇总 */
.book-details-wrap .book-detail .collect{
    color:#bbb;
    margin-bottom:10px;
}
.book-details-wrap .book-detail .collect span{
    font-size:18px;
    color:#222;
    margin-left:10px;
}
.book-details-wrap .book-detail .collect span:first-child{
    margin-left:0px;
}
.book-details-wrap .book-detail .collect cite{
    font: 12px PingFangSC-Regular,'-apple-system',Simsun;
    margin:0 12px 0 0px;
    color:#666;
    vertical-align: middle;
}
/* book 免费试读按钮 */
.book-details-wrap .book-detail>p:last-child a{
    display:inline-block;
    width:102px;
    height:34px;
    font-size:14px;
    color:#2972cc;
    border:1px solid #2972cc;
    text-align:center;
    line-height:36px;
    margin-right:15px;
    vertical-align: middle;
}
/* 蓝色按钮 */
.book-details-wrap .book-detail>p:last-child a:hover{
    color: #2972cc !important;
    border-color: #2972cc;
    background: #f0f5ff
}
/* 红色按钮 */
.book-details-wrap .book-detail>p:last-child a:first-child{
    color:#ddd;
    border:1px solid #ed4259;
    background: #bf2c24;
}
.book-details-wrap .book-detail>p:last-child a:first-child:hover{
    color: #fff !important;
    border-color: #ed4259;
    background: #ed4259
}
.book-details-wrap .book-detail>p:last-child a:last-child{
    font-size:12px;
	height:36px;
    line-height: 36px;
    color:#ddd;
	word-wrap:break-word;
    border:1px solid #ed4259;
    background: #bf2c24;
}
.book-details-wrap .book-detail>p:last-child a:last-child:hover{
    color: #fff !important;
    border-color: #ed4259;
    background: #ed4259
}
/* 一楼 右边 评分 */
.book-details-wrap .score{
    position:absolute;
    top:10px;
    right:0px;
    width:116px;
    padding-right:30px;
}
/* 分数 */
.book-details-wrap .score>h3{
    text-align:right;
}
.book-details-wrap .score>h3 i{
    font: 400 24px/38px FZZCYSK;
}
.book-details-wrap .score h3 span{
    font: 400 32px/38px FZZCYSK;
}
/* 评价人数 */
.book-details-wrap .score .number {
    color:#999;
    font-size:14px;
    text-align:right;
    margin:5px 0 5px 0;
}
.book-details-wrap .score .number span{
    color:#999;
    font-size:13px;
    margin-right:5px;
}
/* 我要评价 */
.book-details-wrap .score .assess{
    color:#333;
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    text-align:right;
}
/* 星星评分 */
.book-details-wrap .score>div{
    color:#ddd;
    font-size:24px;
    letter-spacing: -3px;
}
.book-details-wrap .score>div i{
    cursor: pointer;
}
/* 订阅和下载 */
.book-details-wrap .subscribe{
    position: absolute;
    bottom:25px;
    right:30px;
    color:#3f5a93;
}
.book-details-wrap .subscribe>a:first-child{
    font-size:14px;
    color:#3f5a93;
    margin-right:10px;
}
.book-details-wrap .subscribe>a:first-child:hover{
    color:#2972cc !important;
}
.book-details-wrap .subscribe>a:last-child{
    font-size:14px;
    color:#3f5a93;
    margin-left:10px;
}
.book-details-wrap .subscribe>a:last-child:hover{
    color:#2972cc !important;
}
 /* content-nav-wrap 内容导航  */
.content-nav-wrap{
    margin:40px 0 30px 0;
    border-bottom:1px solid #bbb;
}
.content-nav-wrap a{
    display:inline-block;
    padding:0 20px 0 20px;
    font:400 18px FZZCYSK;
    line-height: 40px;
    color:#999;

}
/* 作品信息 */
/* 目录 */
/* 作品评论 */
.content-nav-wrap>a:nth-child(2) span,
.content-nav-wrap>a:last-child span{
    font:400 14px FZZCYSK;
    color:#999;
}
/* 选中状态 */
.content-nav-wrap .active{
    color:#ed4259;
    border-bottom:2px solid #ed4259;
    margin-bottom:-1px;
}
/* 主体包裹 73*/
.book-content-wrap{
    position: relative;
}
.book-content-wrap .left-wrap{
    float:left;
}
.book-content-wrap .book-info-details {
    width:700px;
}
/* <!--1. 简介 --> */
.book-content-wrap .book-info-details>p{
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    color:#333;
    padding:0 0 20px 20px;
    border-bottom:1px solid #bbb;
}
/* 获得荣誉 */
.book-content-wrap .book-info-details .honor{
    padding-top:20px;
}
/* 左浮动 */
.book-content-wrap .book-info-details .honor>div{
    float:left;
}
.book-content-wrap .book-info-details .honor>div:first-child{
    width:98px;
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color:#999;
    margin-right:15px;
}
/* 下边框 */
.book-content-wrap .book-info-details .honor>div:last-child{
    border-bottom:1px solid #bbb;
    padding-bottom:20px;
}
.book-content-wrap .book-info-details .honor strong{
    display: inline-block;
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color:#333;
    margin-bottom:5px;
}
/* 荣誉图 */
.book-content-wrap .book-info-details .honor p img{
    width:50px;
    height:50px;
    margin-right:10px;
    vertical-align: middle;
}
.book-content-wrap .book-info-details .honor p a{
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color:#3f5a93;
    line-height:50px;
    margin-left:30px;
}
/* 最近更新状态 */
.book-content-wrap .book-info-details .update{
    padding:20px 0 20px 0;
}
/* 最新章节 */
.book-content-wrap .book-info-details .update>div{
    float:left;
}
/* 最新更新 */
.book-content-wrap .book-info-details .update>div:first-child{
    width:98px;
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color:#999;
    margin-right:15px;
}
/* 最新章节 */
.book-content-wrap .book-info-details .update p a{
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color:#3f5a93;
    margin-left:30px;
}
.book-content-wrap .book-info-details .update p em,
.book-content-wrap .book-info-details .update p span{
    font: 14px/22px Arial;
    color:#999;
}

/*2. 粉丝互动 200*/
/* 标题 */
.book-content-wrap .fans-zone>h3{
    margin-bottom:15px;
    font-size: 22px;
    line-height: 25px;
    height: 25px;
    font-family: FZZCYSK;
}
/* 背景 */
.book-content-wrap .fans-zone dl{
    width:700px;
    text-align: center;
    background: #f7f6f2;
}
.book-content-wrap .fans-zone dl dd{
    float:left;
    width:232px;
    padding:24px 0;
}
/* 月票  */
.book-content-wrap .fans-zone dd>h4{
    margin-bottom:14px;
    color:#999;
}
.book-content-wrap .fans-zone dd>h4 span{
    font:400 18px FZZCYSK;
    line-height: 22px;
    color: #a6a6a6;
    margin:0 10px 0 10px;
}
.book-content-wrap .fans-zone dd>h4 .active{
    color:#ed4259;
}
/* 本月票数 */
.book-content-wrap .fans-zone dd .month-count{
    text-align:center;
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    height: 16px;
    margin-bottom: 7px;
    color: #a6a6a6;
}
/* 票数 */
.book-content-wrap .fans-zone dd .mum{
    text-align:center;
    font: 30px/33px Arial;
    margin-bottom: 7px;
    height:33px;
}
/* 排名 */
.book-content-wrap .fans-zone dd .rank{
    text-align:center;
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    height: 16px;
    margin-bottom: 14px;
}
.book-content-wrap .fans-zone dd .rank em{
    font: 14px/16px Arial;
    display: inline-block;
    height: 16px;
    margin: -2px 3px 0;
    vertical-align: middle;
    color: #ed4259;
}
/* 图标 */
.book-content-wrap .fans-zone .icon-box{
	width:44px;
    height:44px;
	margin:0 auto;
    text-align:center;
	overflow:hidden;
	position:relative;
}
/*清除外边距溢出*/
.book-content-wrap .fans-zone .icon-box:before{
	content:"";
	display:table;
}
/*图标大小*/
.book-content-wrap .fans-zone .icon-box span{
	display:inline-block;
	position:absolute;
	top:14px;
	left:14px;
	width:16px;
	height:18px;
	transform:scale(2.5);
	color:#f4a118;
}
/*红色*/
.book-content-wrap .fans-zone .icon-box .red{
	color:#d67772;
}
.book-content-wrap .fans-zone .icon-box b.red{
	border-bottom:2px solid #d67772;
}
.book-content-wrap .fans-zone .icon-box b{
	display:inline-block;
	width:44px;
	position:absolute;
	top:42px;
	left:0px;
	height:0;
	border-bottom:2px solid #f4a118;
}
/* 按钮 */
.book-content-wrap .fans-zone dd .month-btn{
    font: 14px/34px PingFangSC-Regular,'-apple-system',Simsun;
    position: relative;
    z-index: 1;
    display: block;
    width: 140px;
    height: 34px;
    margin: 20px auto 3px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #bf2c24;
}
.book-content-wrap .fans-zone dd .month-btn:hover{
    color: #fff !important;
    border-color: #ed4259;
    background: #ed4259
}
/* 线 */
.book-content-wrap .fans-zone .line{
    width: 0;
    height: 208px;
    margin-top: 28px;
    border-left: 1px solid #e5e5e5;
}
/* 月票比率 */
.book-content-wrap .fans-zone dd .tip{
    font: 12px/28px PingFangSC-Regular,'-apple-system',Simsun;
    color: grey;
    text-align: center;
}
/* 打赏 */
.book-content-wrap .fans-zone .raword h4{
    color:#ed4259;
    font:400 18px FZZCYSK;
    line-height: 26px;
    margin-bottom:14px;
}
/* 我的粉丝等级 */
.book-content-wrap .fans-zone .myFans>h4{
    font:400 18px/22px FZZCYSK;
    color:#000;
}
/* 未登录 */
.book-content-wrap .myFans .fans-rank{
    width:190px;
    margin:0 auto;
    margin-bottom:18px;
    border-bottom:1px solid #e5e5e5;
}
/* 图片大小 */
.book-content-wrap .myFans .fans-rank img{
    width:44px;
    height:44px;
}
/*未登录  255*/
.book-content-wrap .myFans .fans-rank .loginUp{
    display:inline-block;
    height:44px;
    line-height:44px;
    color: #3f5a93;
    font: 12px PingFangSC-Regular,'-apple-system',Simsun;
    vertical-align: middle;
    margin-left:5px;
} 
.book-content-wrap .myFans .fans-rank>span{
    display:inline-block;
    height:44px;
    line-height:44px;
    color: #333;
    font: 12px PingFangSC-Regular,'-apple-system',Simsun;
    vertical-align: middle;
    margin-left:5px;
} 
/* 本书粉丝动态 */
.book-content-wrap .myFans .fans-dynamic dl{
    width:200px;
    margin:0 auto;
}
.book-content-wrap .myFans .fans-dynamic dd{
    padding:0;
    width:200px;
    font: 12px/28px PingFangSC-Regular,'-apple-system',Simsun;
    margin-bottom:1px solid #999;
    text-align: left;
}
.book-content-wrap .myFans .fans-dynamic>h4{
    font:400 18px/22px FZZCYSK;
    color:#000;
    margin-bottom:10px;
}
/* 投票状态 */
.book-content-wrap .myFans .fans-dynamic a
,.book-content-wrap .myFans .fans-dynamic span{
    color:#262626;
    overflow: hidden;
    max-width: 80px;
    height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-content-wrap .myFans .fans-dynamic .gray{
    color:#999;
}
/*投票小图标*/
.book-content-wrap .myFans .fans-dynamic i{
	float:right;
}
.book-content-wrap .myFans .fans-dynamic .tui{
	color:#3ebcd0;
}
.book-content-wrap .myFans .fans-dynamic .blue{
	color:#54c3d5;
}
.book-content-wrap .myFans .fans-dynamic .yellow{
	color:#e8a926;
}
/* <!--3. 游戏图 包裹 284--> */
.book-content-wrap .game-op-wrap{
    display: flex;
    justify-content: space-between;
    margin-top:35px;
}
/* 4. 喜欢更多 289*/
/*  */
.book-content-wrap .like-more{
    margin-top:25px;
}
/* 标题 */
.book-content-wrap .like-more>h3{
    font:500 22px FZZCYSK;
    line-height: 25px;
    height: 25px;
    margin-bottom: 14px;
    -webkit-font-smoothing: antialiased;
}
.book-content-wrap .like-more-link li{
    width:86px;
    float:left;
    margin-left:36px;
}
.book-content-wrap .like-more-link li:first-child{
    margin-left:0px;
}
/* 图片大小设置 */
.book-content-wrap .like-more-link li>div a{ 
    display:block;
    margin:0 auto;
    box-shadow: 0 1px 6px rgba(0,0,0,.35), 0 0 5px #f9f2e9 inset;
    width:86px;
    height:112px;
    overflow: hidden;
    margin-bottom:8px;
}
.book-content-wrap .like-more-link li>div img{
    width:84px;
    height:112px;
}
/* 描述 */
.book-content-wrap .like-more-link li>a{
    display:inline-block;
    font: 700 14px/21px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height: 21px;
    color:#262626;
}
.book-content-wrap .like-more-link li>p{
    font: 12px/20px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height: 40px;
    color: #666;
}

/* 用户评论区 */
/* 标题 */
.book-content-wrap .user-comment{
    margin-top:40px;
}
.book-content-wrap .user-comment>h3{
    font:400 22px  FZZCYSK;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    color: #a6a6a6;
    line-height: 25px;
    height: 25px;
}
.book-content-wrap .user-comment>h3 .act{
    color: #262626;
}
.book-content-wrap .user-comment>h3 i{
    font-family: Arial;
    font-size: 20px;
    padding: 0 12px;
}
/* 我要发帖 */
.book-content-wrap .user-comment>h3 a{
    font: 12px PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    width: 68px;
    padding: 7px 0;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #3f5a93;
    border:1px solid #3f5a93;
    float:right;
}
/* 蓝色按钮 */
.book-content-wrap .user-comment>h3 a:hover{
    color: #2972cc !important;
    border-color: #2972cc;
    background: #f0f5ff
}







/* 右包裹 作者信息 */
.right-wrap{
    float:right;
    width:250px;
}
.right-wrap .auther-state{
    text-align: center;
    padding:20px 12px 20px;; 
    background: #f7f6f2;
}
/* 头像 */
.right-wrap .auther-info:first-child .img{
    position: relative;
    width:100px;
    margin:0 auto;
    margin:0px auto 20px;
}
/*  */
.right-wrap .auther-info>div:first-child{
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}
.right-wrap .auther-info .img>img{
    width:100px;
    height:100px;
    border-radius:100%;
}
/* 等级 */
.right-wrap .auther-info .img span{
    position: absolute;
    font: italic 12px/16px Arial;
    background: #fc6c28;
    position: absolute;
    z-index: 1;
    bottom: -6px;
    left: 50%;
    width: 28px;
    height: 16px;
    margin-left: -14px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}
.right-wrap .auther-info .auther{
    display:block;
    font: 18px/22px PingFangSC-Regular,'-apple-system',Simsun;
    color:#000;
}
/* 作品状态 296 */
.right-wrap .auther-info .work-state dl{
    padding-left:12px;
    margin-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}
.right-wrap .auther-info .work-state dl dd{
    width:50px;
    float:left;
    margin-left:28px;
}
/* 清除第一个左边距 */
.right-wrap .auther-info .work-state dl dd:first-child{
    margin-left:0;
}
.right-wrap .auther-info .work-state dl dd p{
    font: 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
    color: #666;
    margin-bottom:5px;
}
.right-wrap .auther-info .work-state dl dd em{
    font: 14px/18px Arial;
    white-space: nowrap;
    color: #bf2c24;
}

/* 统计 */
.right-wrap .auther-info .work-state dd img{
    width:48px;
    height:48px;
    padding-bottom:5px;
}
/* 其它作品 标题  */
.right-wrap .auther-info .other-works{
    margin-top:20px;
    margin-bottom:5px;
}
.right-wrap .auther-info .other-works h3{
    font:400 18px FZZCYSK;
    line-height: 21px;
    overflow: hidden;
    height: 21px;
    margin-bottom: 20px;
    text-align: left;
}
.right-wrap .auther-info .other-works h3 a{
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    float: right;
    margin-top: 3px;
    color:#3f5a93;
}
/* 其他作品 详情 */
.right-wrap .auther-info .other-works .img{
    width:84px;
    height:112px;
    overflow: hidden;
    margin:20px auto 10px;
}
.right-wrap .auther-info .other-works .img a{
    width:84px;
    height:112px;
}
/* 书名 */
.right-wrap .auther-info .other-works h4{
    font: 18px/24px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
    overflow: hidden;
    height: 24px;
    margin-bottom: 9px;
}
.right-wrap .auther-info .other-works h4 a{
    color:#262626;
}
/* 分数 */
.right-wrap .auther-info .other-works .red{
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height: 16px;
    margin-bottom: 10px;
}
.right-wrap .auther-info .other-works .red a,
.right-wrap .auther-info .other-works .red span{
    color: #bf2c24;
}
/* 描述 */
.right-wrap .auther-info .other-works .discrible{
    font: 12px/20px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height: 60px;
    margin-bottom: 16px;
    text-align: justify;
    color: grey;
}
/* 加入书架 按钮 */
.right-wrap .auther-info .other-works .shelf{
    font: 14px PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    width: 98px;
    margin: 0 auto;
    padding: 7px 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #3f5a93;
    border-color: #3f5a93;
}
/* 蓝色按钮 */
.right-wrap .auther-info .other-works .shelf:hover{
    color: #2972cc !important;
    border-color: #2972cc;
    background: #f0f5ff
}
/*  右包裹 2.本周强推清单 */
.right-wrap .book-list-wrap{
    background:#f7f6f2;
    padding:20px 10px 10px;
    margin-top:15px;
}
/* 强推清单标题 */
.right-wrap .book-list-wrap .strong-list>h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    height: 24px;
    color: #1a1a1a;
}
.right-wrap .book-list-wrap .strong-list>h3 i{
    margin:0 5px 0 2px;
}
/* 强推列表 */
.right-wrap .book-list-wrap .strong-list .list li{
    height: 31px;
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}
/* 推荐类型 */
.right-wrap .book-list-wrap .strong-list .list li .type{
    font: 14px/32px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    min-width: 56px;
    height: 32px;
    margin-left: -5px;
    color: grey;
}
/* 书名 */
.right-wrap .book-list-wrap .strong-list .list li .book-name{
    font: 14px/32px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height:32px;
    line-height:32px;
    color:#333;
}
/* 3.右游戏大图 */
.right-wrap .right-op-wrap{
    margin:15px 0;
}
.right-wrap .right-op-wrap a{
    width:250px;
    height:174px;
    overflow: hidden;
}
.right-wrap .right-op-wrap a img{
    width:250px;
    height:174px;
} 
/* 4.粉丝排行榜 */
.right-wrap .right-fans-rank{
    background:#f7f6f2;
    padding:20px 10px 10px;
    margin-top:15px;
}
/* 标题 */
.right-wrap .right-fans-rank>div>h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    height: 24px;
    color: #1a1a1a;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.right-wrap .right-fans-rank>div>h3 a{
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
    float: right;
    margin-top: 3px;
    color: #3f5a93;
}
/* 列表 */
.right-wrap .right-fans-rank>div .list .top{
    overflow: visible;
    zoom: 1;
    height: auto;
    padding: 5px 0 7px;
    border-top: 1px solid #e6e6e6;
}
/* 排名 1*/
.right-wrap .right-fans-rank>div .list .top .num-box{
    float: left;
    width: 28px;
    height: 32px;
    margin-top: 8px;
}
.right-wrap .right-fans-rank>div .list .top .num-box span{
    color: #fff;
    font: 700 14px/16px Arial;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    text-align: center;
    letter-spacing: -1px;
}
/* 1 */
.right-wrap .right-fans-rank>div .list .top .num-box .num1{
    background: #bf2c24;
}
/* 2 */
.right-wrap .right-fans-rank>div .list .top .num-box .num2{
    background: #e67225;
}
/* 3 */
.right-wrap .right-fans-rank>div .list .top .num-box .num3{
    background: #e6bf25;
}
/* 粉丝名 */
.right-wrap .right-fans-rank>div .list .top .name-box{
    font: 14px/22px PingFangSC-Regular,'-apple-system',Simsun;
    float: left;
    overflow: hidden;
    width: 164px;
    height: 44px;
    padding-top: 5px;
}
.right-wrap .right-fans-rank>div .list .top .name-box>a{
    font: 14px/22px PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    overflow: hidden;
    width: 160px;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#262626;
}
.right-wrap .right-fans-rank>div .list .top .name-box p{
    font-size: 12px;
    overflow: hidden;
    height: 22px;
    color: #a6a6a6;
}
.right-wrap .right-fans-rank>div .list .top .name-box p span{
    font-family: Arial;
    line-height: 1;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 12px;
}
/* 粉丝贡献总数 */
.right-wrap .right-fans-rank>div .list .top .fans-total{
    position: relative;
    z-index: 1;
    float: right;
    width: 34px;
    height: 34px;
    margin-top: 4px;
}
.right-wrap .right-fans-rank>div .list .top .fans-total a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.right-wrap .right-fans-rank>div .list .top .fans-total img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.right-wrap .right-fans-rank>div .list .top .fans-total span{
    position: absolute;
    bottom: -2px;
    left: 6px;
    width: 30px;
    height: 16px;
    color:#262626;
}
/* 排名 */
.right-wrap .right-fans-rank>div .list li{
    height: 31px;
    border-top: 1px solid #e6e6e6;
    line-height: 31px;
    vertical-align: middle;
}
.right-wrap .right-fans-rank>div .list li .rank{
    position: relative;
    top:-8px;
    font: 700 14px/16px Arial;
    display: inline-block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #666;
    background: #ededed;
}
.right-wrap .right-fans-rank>div .list li>a{
    display: inline-block;
    overflow: hidden;
    height: 31px;
    padding-left:7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1a1a1a;
    width: 123px;
    font: 14px/31px PingFangSC-Regular,'-apple-system',Simsun;
}
.right-wrap .right-fans-rank>div .list li .total{
    display: inline-block;
    font: 12px/32px PingFangSC-Regular,'-apple-system',Simsun;
    width: 48px;
    overflow: hidden;
    width: 69px;
    text-align: right;
    white-space: normal;
    text-overflow: ellipsis;
    color: #b3b3b3;
}
















