@media screen and (max-width:1199px){
	#headerPage{
		width:1200px;
	}
}
@media screen and (min-width:1200px){
	#headerPage{
		width:100%;
	}
}
/* 顶部外包裹 */
.header{
	width:100%;
	margin-top:20px;
}
.header .head{
	width:1200px;
	margin:0 auto;
	margin-bottom:20px;
}
/* 顶部游戏广告大图 */
.header .big-topPic{
	width:1200px;
	height:60px;
	margin: 0 auto;
	margin-bottom:20px;
}
.header .big-topPic img{
	width:1200px;
	height:60px;
}

/* logo */
.header .logo a{
	display:block;
	border-radius:10px;
	width:50px;
	height:50px;
	background-image:linear-gradient(to bottom,#e84848 0%,#e84848 100%);
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-family:"楷书";
	color:#fff !important;
	margin-right:100px;
	margin-left: 10px;
}
.header .logo a img{
	width:50px;
	height:50px;
}
/* 顶部浮动设置 */
.header .logo,.header .search-wrap{
	float:left;
}
.header .user-wrap{
	float:right;
}
/* 中间搜索框 */
.header .search-wrap{
	margin-top:5px;
	margin-left:250px;
	height:38px;
	width:400px;
	position: relative;
}
.header .box-search{
	width:345px;
	height:38px;
	padding-left:5px;
	border:1px solid #999;
}
.header #search-btn{
	display:none;
}
.header .search-wrap .search-btn{
	width:50px;
	height:40px;
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	background:#e84848;
}
/* 搜索小图标 */
.header .iconfont1{
	width:16px;
	height:16px;
	border-radius:50%;
	border:2px solid #fff;
	position:absolute;
	top:7px;
	left:13px;
}
.header .iconfont2{
	width:13px;
	border-top:2px solid #fff;
	transform:rotate(45deg);
	position:absolute;
	top:27px;
	left:28px
}
/* 用户登陆 */
.header .user-wrap{
	font-size: 14px;
    font-family: SimSun,'Microsoft YaHei',Helvetica,Arial,sans-serif;
	margin-top:20px;
}
.header .user-wrap a{
	color:#4c4c4c;
}
.header .user-wrap span{
	color:#4c4c4c;
	margin-right:5px;
	cursor:pointer;
}
.header .user-wrap span:hover{
	color:#ed4259;
}
/* 页面导航nav */
.header .top-nav{
	width:100%;
	height:40px;	
	background:#3e3d43;
}
.header .top-nav .left-nav ul>li{
	text-align: center;
	width:90px;
}
.header .top-nav .left-nav ul>li:hover{
	border-top:2px solid #ff0000;
    background: #2c2c2c;
    height:38px;
}
.header .nav-center{
	width:1200px;
	margin:0 auto;	
	position:relative;
}
.header .left-nav{
	float:left;
}
.header .left-nav>ul{
	width:810px;
	display:flex;
	justify-content:space-between;
}
.header .left-nav a{
	line-height:40px;
	font-size:16px;	
	font-family: normal;
	color:#fff;
}
/* 鼠标悬停字体颜色变化 */
.header .top-nav a:hover{
	color:#ddd !important;
}
/* 导航右侧 */
.header .right-nav{
	float:right;
	position:relative;
	top:0;
	right:0;
	display:flex;
	justify-content:space-between;
}
.header .right-nav>div>a{
	font: 18px/40px PingFangSC-Regular,'-apple-system',Simsun;
	margin-right:30px;
	color:#e84848;
}
.header .right-nav>div>a:hover{
	color:#fd2d52 !important;
}
/* 页游 64*/
.header .right-nav .web-game{
	display:none;
	width:192px;
	padding:15px 12px;
	position: absolute;
	/* top:40px; */
	left:-53px;
	z-index:10;
	background:#fff;
	margin-top:-10px;
	box-shadow: 0 3px 5px #ccc;
	transition:all .1s linear;
}
.header .right-nav .web-game>h5{
	font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 12px;
    margin-bottom: 8px;
    color: #ed4259;
}
/* 列表底部边框 */
.header .right-nav .web-game .web-game-list ul{
	border-bottom:1px solid #ddd;
}
.header .right-nav .web-game .web-game-list li>h3{
	margin-bottom: 10px;
	font-weight: 400;
    line-height: 18px;
    overflow: hidden;
	height: 18px;
	font-size: 14px;
}
.header .right-nav .web-game .web-game-list li>h3 i{
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 12px;
    float: left;
    margin-right: 12px;
    color: #a6a6a6;
}
.header .right-nav .web-game .web-game-list li>h3 a{
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 14px;
    float: left;
    overflow: hidden;
    overflow: hidden;
    width: 84px;
    height: 18px;
    margin-right: 12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	color: #222;
	line-height: 18px;
}
.header .right-nav .web-game .web-game-list li>h3 a:hover{
	color:#ed4259 !important;
}
.header .right-nav .web-game .web-game-list li>h3 span{
	font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 12px;
    font-weight: 400;
    float: left;
    min-width: 30px;
    max-width: 30px;
    text-align: right;
	color: #666;
	line-height: 18px;
}
/* hot 图标 */
.header .right-nav .web-game .web-game-list li>h3 em{
	margin-left:10px;
	color:#bf2c24;
}
/* 图 */
.header .right-nav .web-game .web-game-list li>p{
	display:none;
}
.header .right-nav .web-game .web-game-list li>.show{
	display:block;
}
.header .right-nav .web-game .web-game-list li>p{
	margin-bottom: 5px;
	position: relative;
}
.header .right-nav .web-game .web-game-list li>p img{
    width: 192px;
    height: 46px;
}
/* 页游底部 */
.header .right-nav .web-game .web-game-bottom{
	width: 192px;
    margin: 0 auto;
    padding-top: 12px;
    border-top: 1px solid #e6e6e6;
}
.header .right-nav .web-game .web-game-bottom>h3{
	font: 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
    margin-bottom: 5px;
    color: #bf2c24;
}
.header .right-nav .web-game .web-game-bottom>p img{
	display: block;
    width: 192px;
    height: 86px;
    border: none;
}
.header .right-nav .angle{
	position: absolute;
	top:-7px;
	left:75px;
	z-index:10;
	width:0px;
	height:0px;
	border-top:0 none;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
}