/* main-one 1楼*/
.main-one{
    width:1200px;
    margin:0 auto;
    margin-top:30px;
    display:flex;
    justify-content:space-around;
}
/* 1楼s宽度比 */
.main-one-left,.main-one-right{
    width:240px;
}
.main-one-mid{
    width: 650px;
    margin-left:25px;
    margin-right:25px;
}
/* main-one  1楼 左 */
.main-one .title{
    width:100%;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6; 
}
.main-one .fc{
    float:left;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}
.main-one .fb{
    float:right;
    font-size:12px;
    color:#777;
}
.main-one .fb a{
	color:#999;
}
/* main-one  1楼 左 主体 */
/* 小轮播图 */
.main-one-left .banner-l{
    width:100%;
    height:520px;
    background: #fafafa;
    border: 1px solid #f5f5f5;
    border-radius:3px;
}
.main-one-left .banner-img{
    width:100px;
    height:145px;
    margin:0 auto;
    margin-top:40px;
    overflow: hidden;
    cursor:pointer;
}
.main-one-left .banner-img li{
    float:left;
}
.main-one-left .banner-img img{
    width:100px;
    height:145px;
}
/* main-one  1楼 左 小轮播图详情 */
.main-one .banner-details{
    margin-top:20px;
}
.main-one .banner-details h3{
    font-size:18px;
    text-align:center;
    margin-bottom:7px;
}
.main-one .banner-details h3 a{
    color:#333;
}
.main-one .banner-details .auther{
    display:block;
    color:#999;
    text-align:center;
    margin-bottom:10px;
}
.main-one .banner-details>p{
    text-align: center;
    margin-bottom:20px;
}
/* main-one  1楼 左 小轮博图布局 */
.main-one .banner-details>p a{
    margin-right:10px;
    color:#666;
}
.main-one .banner-details>p span{
    margin-left:5px;
    color:#666;
}
.main-one .banner-details>p a:visited{
    color:#999;
}
.main-one .banner-details>span{
    display:block;
    padding-right:20px;
    padding-left:20px;
    height:95px;
    overflow:hidden;
    color:#666;
}
/* main-one  1楼 左 立即略读按钮 */
.main-one-left .d-box{
    display:block;
    width:100px;
    height:30px;
    text-align:center;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:10px;
    line-height:30px;
    color:#fff;
    border-radius:8px;
    background:#BF2C24;
    transition: all 0.5s linear;
}
.main-one-left .d-box:hover{
    background:#fd2d52;
    color:#fff !important; 
}
/* main-one 1楼中 中 */
.main-one-mid .main-index{
    display:flex;
    justify-content: space-between;
    margin-top:40px;
}

.main-one-mid .main-index img{
    width:95px;
    height:125px;
    overflow: hidden;
    transition: all 1s ease-out;
}
.main-one-mid .main-index img:hover{
    transform: scale(1.1);
}
/* main-one 1楼中 顶部 */
.main-one-mid .fc-mid{
    font-weight: 700;
    font-size: 18px;
    color: #333;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6;
}
/* main-one 1楼中 主体 */
.main-one .top-box-left{
    width:330px;
}
.main-one-mid .r-left{
    float: left;
    width:95px;
    height:125px;
    overflow: hidden;
}
.main-one-mid .r-right{
    float: right;
    width:205px;
    overflow: hidden;
}

.main-one-mid .r-right p{
    height:70px;
    overflow: hidden;
    font-size:13px;
    color:#666;
    letter-spacing: 1.93px;
    margin-bottom:10px;
    margin-top:10px;
    text-align:justify;
}
/* main-one 1楼中 right边距 */
.main-one .top-box-right{
    width:330px;
    margin-left:15px;
}
.main-one .r-right>a{
    line-height:21px;
    font-size:16px;
    color:#333;
}
/* a color */
.main-one .r-right>div>a{
    font-size:13px;
    color:#999;
}
.main-one-mid img{
    width:95px;
    height:125px;
    border-radius:3px;
}
.main-one .r-right div{
    position:relative;
}
.main-one-mid .mr-right{
    position:absolute;
    right:2px;
    bottom:1px;
    display:inline-block;
    width:70px;
    height:20px;
    line-height:19px;
    text-align: center;
    border-radius: 4px;
    border:1px solid #bbb;
}
/* main-one  右 */
/* 新书力荐 */
.main-one-right{
    padding: 15px 17px 10px;
    border: 1px solid #f0f0f0;
    border-radius:5px;
}
.main-one-right .fc{
    float:left;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6; 
}
/* main-one  右 主体 */
.main-one .main-r-body li{
    /* position: relative; */
    height:32px;
    border-bottom:1px solid #ccc;
}
/* 文本字体 */
.main-one .main-r-body li span{
    font-size:14px;
    display:inline-block;
    float:left;
    width:19px;
    height:19px;
    text-align: center;
    color:#a9a1b7;
    margin:7px 9px 0 0;
}
.main-one .main-r-body li .main-rb-a{  
    font-size:14px;
    color:#333;
    line-height:32px;
    float:left; 
}
.main-one .main-r-body>ul>li>a:last-child{
    /* position: absolute;
    top:0;
    right:0; */
    float:right;
    height:32px;
    line-height:32px;
    font-size: 13px;
    color: #b3b3b3;
}
/* main-one  右 主体 排行 */
.main-one .main-r-no1{
    background-image:linear-gradient(to right,#f51a1a 0%,#d84e38 100%);
    color:#fff !important;
    border-radius:3px;
}
.main-one .main-r-no2{
    background-image:linear-gradient(to right,#e040cc 0%,#e75bb5 100%);
    color:#fff !important;
    border-radius:3px;
}
.main-one .main-r-no3{
    background-image:linear-gradient(to right,#40e8d1 0%,#0ae8ca 100%);
    color:#fff !important;
    border-radius:3px;
}
/* 主体 2楼 尚武阁 */
.main-two{
    width:1200px;
    margin:0 auto;
    margin-top:20px;
}
/* 主体 2楼 左 */
.main-two-fu{
    width:200px;
    height:250px;
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background:url(../img/index/Martial/bg1.png) no-repeat;
    background-size:100% 100%;
    
}
.main-two-fu .main-fu-img{
    width:140px;
    height:180px;
    margin:0 auto;
    margin-top:35px;
    border-radius:5px;
    box-shadow: 0px 2px 10px 1px #9e9c93;
    background:url(../img/index/Martial/fu.jpg) no-repeat;
    background-position:center center;
    background-size:140px 180px;
}
.main-two-fu p{
    font-size:14px;
    margin:0 auto;
    vertical-align: middle;
}
/* 主体 2楼 右 407*/
.main-two .book-slide-wrap{
    width:1000px;
    height:250px;
    float:left;
    text-align: justify;
    background:#fff9f4;
    overflow: hidden;
    border-radius:6px;
    position:relative;
}
.main-two .book-slide-wrap li{
    float:left;
    width:199px;
    height:250px;
    border-left:1px solid #ffe8d4;
}
/* 位置调整 */
.main-two .book-slide-wrap .book-box{
    margin-top:20px;
    margin-left:45px;
    width:110px;
    height:150px;
    overflow: hidden;
}
/* 图片 */
.main-two .book-slide-wrap .book-box img{
    width:110px;
    height:150px;
    overflow: hidden;
    transition: all 1s ease-out;
}
.main-two .book-slide-wrap .book-box img:hover{
    transform: scale(1.1);
}
    /* 文本 */
.main-two .book-slide-wrap li p{
    text-align: center;
    margin-top:10px;
    color:#333;
}
.main-two .book-slide-wrap li p a{
    font-size:13px;
    color:#666;
}
/* 左右箭头 */
.main-two .two-prev{
    display:inline-block;
    width:35px;
    height:60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    position: absolute;
    top:95px;
    left:0;
    background:rgba(0,0,0,0.1);
    transition:all 1s;
}
.main-two .two-prev img{
    display:block;
    margin-top:20px;
    margin-left:9px;
}
.main-two .two-next{
    position: absolute;
    display:inline-block;
    width:35px;
    height:60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    top:95px;
    right:0;
    background:rgba(0,0,0,0.1);
    transition:all 1s;
}
.main-two .two-next img{
    display:block;
    margin-top:20px;
    margin-left:13px;
}
/* 鼠标悬停时 */
.main-two .two-prev:hover{
    background:rgba(0,0,0,0.2);
}
.main-two .two-next:hover{
    background:rgba(0,0,0,0.2);
}
/* 主体 三楼 */
/* 游戏大图 */
.banner-wrap{
    width:1200px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;  
}
/* 主体 三楼 */
.main-third{
    width:1200px;
    margin:0 auto;
}
.third-1,.third-2,.third-3,.third-4{
    float:left;
    width: 296px;
    background: #f5f5f5;
    margin-right: 5px;
}
.third-4{
    margin-right: 0;
}
.third-body {
    padding: 15px 17px 10px;
    border: 1px solid #f0f0f0;
}
/* 顶部 */
.third-body .top-title{
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}
.third-body .top-title p{
    float:left;
    font-size: 16px;
    color: #333;
    height:20px;
    font-weight: 700; 
}
.third-body .top-title .more-link{
    display: block;
    float:right;
    font-size:12px;
    color: #999;
    line-height: 20px;
    letter-spacing: 1px;
    background: url(../img/index/rank/more.png) no-repeat right center;
    padding-right: 8px;
}
/* 排行 列表 */
.main-third .third-body .list li{
    /* position: relative; */
    height:32px;
    border-bottom:1px dashed #ccc;
}
/* 文本字体 */
.main-third .third-body .list li>span:first-child{
    font-size:14px;
    display:inline-block;
    float:left;
    width:19px;
    height:19px;
    text-align: center;
    color:#a9a1b7;
    margin:7px 9px 0 0;
}
.main-third .third-body .list .main-rb-a{  
    font-size:14px;
    color:#333;
    line-height:32px;
    float:left; 
}
.main-third .third-body .list>ul>li>a:last-child{
    /* position: absolute;
    top:0;
    right:0; */
    float:right;
    height:32px;
    line-height:32px;
    font-size: 13px;
    color: #b3b3b3;
}
.main-third .third-body .list>ul>li>span:last-child{
    float:right;
    height:32px;
    line-height:32px;
    font-size: 13px;
    color: #b3b3b3;
}
/* 三楼排行小图框 */
/* no1 */
.main-third .main-r-no1{
    font-size:16px;
    color: #262626;;
    line-height:24px;
    letter-spacing: 1px;
    font-family: PingFangSC-Regular;
    overflow: hidden;
}
/* 月票 */
.main-third .list p.digital {
    font-size: 12px;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
    padding: 3px 0 0;
    color: #BF2C24;
}
.main-third .list p.digital span{
    font-family: Arial;
    font-size: 18px;
    margin-right: 3px;
}
/* 作者 */
.third-auther{
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    
}
.third-auther i{
    color:#a6a6a6;  
    height: 16px;
    line-height: 16px;
}
.third-auther a{
    color:#a6a6a6;
    font-size: 12px;  
    height: 16px;
    line-height: 16px;
}
.main-third .main-r-no2{
    background-image:linear-gradient(to right,#e040cc 0%,#e75bb5 100%);
    color:#fff !important;
    border-radius:3px;
}
.main-third .main-r-no3{
    background-image:linear-gradient(to right,#40e8d1 0%,#0ae8ca 100%);
    color:#fff !important;
    border-radius:3px;
}
/* list-img */
.main-third .third-body .list .list-imgb{
    height:88px;
    padding:16px 0 15px;
    position: relative;
}
/* no.1 */
.main-third .third-body .list .list-imgb h3{
    font: 700 14px Arial;
    width: 36px;
    height: 18px;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    background: #BF2C24;
}
.main-third .third-body .list .list-img{
    position: absolute;
    top:16px;
    right:0px;
}
.main-third .third-body .list .list-img>a img{
    width:67px;
    height:88px;
}
/* banner-wrap */
/* 4楼 热门作品 */
.hot-work-wrap{
    width:1200px;
    margin:0 auto;
}
/* slide 标题 */
.hot-book-box{
    width:216px;
    float:left;
}
.hot-work-wrap .hot-title{
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 8px;
    border-bottom:1px solid #666;
}
/* hot banner */
.hot-work-wrap .hot-book-box .hot-book{
    padding:24px 0;
}
.hot-work-wrap .hot-book-box .hot-wrap-slide{
    background: #f7f5f0;
    overflow: hidden;
}
/* banner 图 */
.hot-work-wrap .hot-book-box .hot-book .slide-wrap{
    width:84px;
    height:112px;
    overflow: hidden;
    margin-left:66px;
    margin-bottom:10px;
}
.hot-work-wrap .hot-book-box .slide-wrap>ul>li img{
    width:84px;
    height:112px;
    float:left;
}
/* slide-box 排行主体 */
.hot-work-wrap .slide-box{
    width:192px;
    height:212px;
    margin:0 auto;
    overflow: hidden;
}
.hot-work-wrap .slide-box li{
    width:192px;
    height:212px;
    float:left;
}
.hot-work-wrap .slide-box li h3{
    margin-bottom:8px;
    text-align: center;
}
.hot-work-wrap .slide-box li h3 a{
    color: #1a1a1a;
    font: 700 16px PingFangSC-Regular,HelveticaNeue-Light,
    'Helvetica Neue Light','Microsoft YaHei',
    sans-serif;
}
.hot-work-wrap .slide-box li .auther,
.hot-work-wrap .slide-box li .auther a{
    font-size:12px;
    text-align: center;
    color: #BF2C24;
    margin-bottom:5px;
    font: 12px/16px PingFangSC-Regular,'-apple-system',Simsun;
}
.hot-work-wrap .slide-box li .total{
    text-align: center;
    margin-bottom:10px;

}
.hot-work-wrap .slide-box li .total b{
    font-family: Arial;
    font-size: 18px;
    color:#262626;
    margin-right: 1px;
    vertical-align: middle;
}
.hot-work-wrap .slide-box li .total span{
    vertical-align: middle;
    font: 12px/18px PingFangSC-Regular,'-apple-system',Simsun;
}
.hot-work-wrap .slide-box li .intro{
    font: 12px/20px PingFangSC-Regular,'-apple-system',Simsun;
    overflow: hidden;
    height: 80px;
    margin-bottom: 20px;
    text-align: left;
    color: #626260;
}
/* book-details */
.hot-work-wrap .slide-box li .book-details{
    display:block;
    margin: 0 auto;
    font: 14px/28px PingFangSC-Regular,'-apple-system',Simsun;
    width: 98px;
    height: 28px;
    text-align: center;
    color: #fff;
    border: 1px solid #BF2C24;
    border-radius: 15px;
    background:#BF2C24;
    transition: all 0.5s linear;
}
.hot-work-wrap .slide-box li .book-details:hover{
    background:#fd2d52;
    color:#fff !important;
}
/* 排行 布局 */
.hot-classify-wrap{
    width:954px;
    float:right;
}
.hot-classify-wrap>ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hot-classify-wrap>ul>li{
    width:216px;
    margin:12px 0 19px 0 ;
}

/* title 标题 */
.hot-classify-wrap>ul>li h3{
    position: relative;
    overflow: visible;
    margin-bottom: 5px;
    font-size:18px;
    line-height: 25px;
    border-bottom:1px solid #666;
}
/* 列表 */
.hot-classify-wrap .hot-wrap-list dd{
    overflow: hidden;
    height:32px;
    line-height: 32px;
}
.hot-classify-wrap .hot-wrap-list dd>a{
    line-height: 32px;
    margin-left:-8px;
}
.hot-classify-wrap .hot-wrap-list dd>a:first-child{
    font: 14px PingFangSC-Regular,'-apple-system',Simsun;
    color:#808080;
}
.hot-classify-wrap .hot-wrap-list dd>a:last-child{
    font: 14px PingFangSC-Regular,'-apple-system',Simsun;
    color:#1a1a1a;
}
/* list-l */
.hot-classify-wrap .list-l{
    position:relative;
}
.hot-classify-wrap .list-l .list-l-top{
    margin-bottom: 10px;
}
.hot-classify-wrap .list-l .list-l-top .title{
    display:block;
    width:60px;
    height:20px;
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 12px;
    color:#BF2C24;
    line-height:20px;
    text-align:center;
    border-radius:4px;
    border:1px solid #BF2C24;
}
.hot-classify-wrap .list-l .list-l-b img{
    width:52px;
    height:87px;
    position:absolute;
    top:0px;
    right:10px;
}
.hot-classify-wrap .list-l .list-l-b .hot-img2{
    position:absolute;
    top:110px;
    right:10px;
}
.hot-classify-wrap .list-l .list-l-top h4 a{
    color:#333;
}
.hot-classify-wrap .list-l .list-l-top h4{
    margin-top:5px;
    margin-bottom:5px;
}
.hot-classify-wrap .list-l .list-l-top .digital b{
    font-family: Arial;
    font-size: 18px;
    color:#262626;
    margin-right: -1px;
}
.hot-classify-wrap .list-l .list-l-top .digital{
    margin-bottom:10px;
}
.hot-classify-wrap .list-l .list-l-top em{
    font: 12px PingFangSC-Regular,'-apple-system',Simsun;;
    height:20px;
    line-height: 20px;
}
.hot-classify-wrap .list-l .list-l-top .details{
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 12px;
    overflow: hidden;
    height: 16px;
    color: #666;
}
 /* 5楼 限时免费  */
.time-limit-wrap>ul{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.time-limit-wrap>ul>li{
    width:171px;
    position: relative;
    /* height:222px; */
}
/* time-box */
/* 背景 */
.time-limit-wrap{
    width:1200px;
    margin:0 auto;
    margin-bottom:20px;
}
.time-limit-wrap .time-box{
    padding-top:25px;
    width:170px;
    border: 1px solid #f7f6f2;
    background: #f7f6f2;
}
/* 背景颜色 */
.time-limit-wrap .even{
    border: 1px solid #fcfcfa;
    background: #fcfcfa;
}
.time-limit-wrap .obb{
    border: 1px solid #f7f6f2;
    background: #f7f6f2;
}
/* 定时器 */
.time-limit-wrap .time-box .title{
    text-align: center;
    font-size:16px;
    height:21px;
    font-family: 700;
    color:#BF2C24;
}
.time-limit-wrap .time-box .free{
    font-size:12px;
    height:20px;
    line-height: 20px;
    text-align: center;
    color:#999;
}
/* 定时器 */
.time-limit-wrap .time-box .timer{
    font-size:18px;
    height:22px;
	color:#BF2C24;
	font:18px Arial;
	letter-spacing: 2px;
    text-align: center;
    margin-bottom:10px;
}
.time-limit-wrap .time-box .timer i{
    color:#BF2C24;
    font:18px Arial;
}
.time-limit-wrap .time-box .timer cite{
    color:#BF2C24;
    font:18px Arial;
    margin-right: 4px;
}
.time-limit-wrap .time-box .timer>cite{
    margin-right: -4px;

}
.time-limit-wrap .time-box .timer>em{
    color:#BF2C24;
    font:18px Arial;
}
/* 图 */
.time-limit-wrap .time-box>em{
    display: block;
    height:80px;
    background: url(../img/index/timer-free/6.png) no-repeat;
    background-position:center center;
    background-size:60px 60px;  
}
.time-limit-wrap .time-box .blue{
    font-family: PingFangSC-Regular,'-apple-system',Simsun;
    font-size: 14px;
    display: block;
    text-align: center;
    overflow: hidden;
    color:#3f5a93;
    height: 19px;
    vertical-align: middle;
    margin-bottom: 23px;
}
.time-limit-wrap .time-box .blue span{
    color:#3f5a93;
}
/* even obb */
.time-limit-wrap li:not(:first-child) div{
    width:66px;
    height:88px;
    margin:20px 0 10px 50px;
    position: relative;
    overflow: hidden;
}
/* 鼠标悬停时的状态 */
.time-limit-wrap li:not(:first-child){
    transition: box-shadow 0.5s linear;
    
}
.time-limit-wrap li:not(:first-child):hover{
    box-shadow: 0px 5px 13px 3px #d1cece;
    z-index: 1;
}
.time-limit-wrap li:not(:first-child) div img{
    width:66px;
    height: 88px;
    transition: all 0.5s linear;
}

.time-limit-wrap li:not(:first-child) div img:hover{
    transform:scale(1.1);
}
.time-limit-wrap li:not(:first-child) div>span{
    font: 12px/18px Arial;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 17px;
    padding: 0 3px 0 2px;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 0 0;
    background: #ed4259;
}
.time-limit-wrap li:not(:first-child) .name{
    font-size:16px;
    display: block;
    font-weight: 600px;
    color:#333;
    padding:0 5px;
    text-align: center;
    margin-bottom: 10px;
}
.time-limit-wrap li:not(:first-child) s{
    color:#666;
    font-size:12px;
    display: block;
    text-align: center;
    margin-bottom: 7px;
}
.time-limit-wrap li:not(:first-child) .free-blue-btn{
    font: 14px/29px PingFangSC-Regular,'-apple-system',Simsun;
    display: block;
    overflow: hidden;
    width: 88px;
    height: 28px;
    text-align: center;
    margin:0 auto;
    color: #3f5a93;
    border:1px solid #3f5a93;
    border-radius: 20px;
}
.time-limit-wrap li:not(:first-child) .free-blue-btn:hover{
	color:#2972cc !important;
    border:1px solid #2972cc;
}
/* 顶部悬浮导航 */


.pin-nav-wrap{
	width:100%;
	height:40px;	
    background:#3e3d43;
    /* display: none; */
    position: fixed;
    top:-40px;
    transition:top .5s linear;
}
.hiddened{
    top:-40px;
}
.showed{
    top:0px;
}
.pin-nav-wrap .box-center{
	width:1200px;
	margin:0 auto;	
	position:relative;
}
.pin-nav-wrap .left-nav>ul{
    width:700px;
    text-align: center;
	display:flex;
	justify-content:space-between;
}
.pin-nav-wrap .left-nav>ul>li{
    width:90px;
}
.pin-nav-wrap .left-nav>ul>li:hover{
    border-top:2px solid #ff0000;
    background: #2c2c2c;
    height:38px;
}
.pin-nav-wrap .left-nav a{
    line-height:40px;
	font-size:15px;	
	color:#ddd;
}
/* 鼠标悬停字体颜色 */
.pin-nav-wrap .left-nav a:hover{
    color:#fff !important;
}
/* 下拉按钮 */
.pin-nav-wrap .left-nav dl{
    width:90px;
    display: none;
    margin-top:-2px;
    background:#2c2c2c
}
.pin-nav-wrap .left-nav .angle{
    display: inline-block;
    margin-left:9px;
    transition: all .2s;
    border-top: 4px solid #ccc;
    border-right: 4px solid transparent;
    border-bottom: 0 none;
    border-left: 4px solid transparent;
}
.pin-nav-wrap .left-nav dl dd{
    height:40px;
}
.pin-nav-wrap .left-nav dl dd:hover{
    background:#1c1c1c;
}
/* 导航右侧 */
.pin-nav-wrap .right-nav{
	position:absolute;
	top:0;
	right:0;
	display:flex;
	justify-content:space-between;
}
.pin-nav-wrap .right-nav a{
	line-height:40px;
    margin-right:5px;
    margin-left:5px;
	color:#fff;
}
.pin-nav-wrap .right-nav .pin-search{
    width:160px;
    height:20px;
    vertical-align: middle;
    padding-left: 5px;
    color:#ddd;
    font-size: 14px;
    background: #3e3d43;
    border:0;
    border-bottom:1px solid #bbb;
}
.pin-nav-wrap .right-nav .pin-search::placeholder{ 
    color: #ddd; 
    font-size:13px;
} 
.pin-nav-wrap .right-nav #top-pin-box{
    display: none;
}
.pin-nav-wrap .right-nav>div label em{
    display: inline-block;
    width:20px;
    height:40px;
    line-height:40px; 
    margin-left:5px;
    margin-right:10px;
    vertical-align: middle;
    background: url(../img/index/shelf/8.png) no-repeat;
    background-position:center center; 
    background-size:20px 20px;
    cursor: pointer;
}
.pin-nav-wrap .right-nav>p a{
    color:#ddd;
}
.pin-nav-wrap .right-nav>p{
    color:#bbb;
}
.pin-nav-wrap .right-nav>p a:hover{
    color:#fff !important;
}








