.top-wrap{
    width:1200px;
    margin:0 auto;
    color:#999;
    font-size:28px;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:15px;
}
/* logo */
.top-wrap a{
	display:inline-block;
	border-radius:10px;
	width:50px;
	height:50px;
	background-image:linear-gradient(to bottom,#BF2C24 0%,#BF2C24 100%);
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-family:"楷书";
	color:#fff !important;
	margin-right:20px;
	margin-left: 10px;
	vertical-align:middle;
}
.top-wrap a img{
	width:50px;
	height:50px;
}
.top-wrap span{
    font-size:28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:10px;
    color:#333;
}
/* register主体 */
.box-center{
    width:1200px;
    margin:0 auto; 
}
/*头部*/
.box-center .reg-step{
    height:37px;
    border-bottom:1px solid #BF2C24;
    text-align: center; 
    padding-left:350px;
}
.box-center .reg-step::after{
    content:"";
    display: block;
    clear:both;
}
.box-center .reg-step p{
    width:150px;
    height:24px;
    line-height:24px;
    font-size:18px;
    text-align: center;
    padding:0 50px 0 50px;
    float:left;
    padding-bottom:10px;
    font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
}
/*填写注册信息*/
.box-center .reg-step .step-one{
	margin-top:2px;
    border-bottom:2px solid #BF2C24;
}

.box-center .reg-step .step-one span{
    display:inline-block;
    width:24px;
    height:24px;
    line-height:24px;
    font-size:18px;
    font-family: "黑体";
    border-radius:50%;
    background: #BF2C24;
    color:#fff;
    margin-right:5px;
}
/*注册成功*/
.box-center .reg-step .step-two{
	margin-top:2px;
    margin-left:0px;
}
/* 注册成功透明度 */
.box-center .reg-step .step-two{
    opacity: 0.5;
}
.box-center .reg-step .step-two em{
    display: inline-block;
    width:24px;
    height:24px;
    border-radius:50%;
    vertical-align: middle;
    background:url(../img/index/register/1.png) no-repeat;
    background-position:center center;
    background-size:24px 24px;
    margin:-2px 5px 0 0;
}
/* 注册主体 */
.reg-form-wrap{
    width:600px;
    margin:0 auto;
    margin-top:30px;
    
}
.reg-form-wrap ul{
    list-style: none;
}
.reg-form-wrap ul>li{
    margin-bottom:35px;
}
/* <!-- 手机号 --> */
.reg-form-wrap li span{
    display: inline-block;
    width: 60px;
    height:44px;
    font: 14px/44px "PingFangSC-Regular", "-apple-system", Simsun;
    margin-right: 24px;
    text-align: right;
}
/*手机号下拉选项*/
.reg-form-wrap .phone>select{
    display:inline-block;
    width: 160px;
    font-size: 14px;
    position: relative;
    height: 42px;
    font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    color: #1A1A1A;
    border:1px solid #bbb;
}
.reg-form-wrap .phone>input{
    display: inline-block;
    width:180px;
    height:40px;
    padding:0 15px 0 15px;
    margin-left:-6px;
    margin-top:-4px;
    border:1px solid #bbb;
    vertical-align: middle;
}
/* 手机验证吗 */
.reg-form-wrap .phonecode input{
    display: inline-block;
    width:180px;
    height:40px;
    padding:0 15px 0 15px;
    border:1px solid #bbb;
}
/*获取验证码*/
.reg-form-wrap .phonecode a{
    display:inline-block;
    width:120px;
    height:40px;
	color:#333;
    line-height: 40px;
    text-align: center;
    margin-left:5px;
    border:1px solid #bbb;
    background:#efefef;
    vertical-align: middle;
}
.reg-form-wrap .pwd input,.reg-form-wrap .pwd2 input{
    display: inline-block;
    width:340px;
    height:40px;
    padding:0 15px 0 15px;
    border:1px solid #bbb;
}
/* 用户协议 */
.reg-form-wrap .ui-deal{
    padding-left:88px;
}
.reg-form-wrap .ui-deal label,
.reg-form-wrap .ui-deal a{
    color:#333;
    font-size:13px;
    vertical-align: top;
}
/*立即注册按钮*/
.reg-form-wrap .btn-sub{
    display: block;
    font: 16px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";;
    width:340px;
    height:40px;
    line-height:40px;
    margin-left:80px;
    text-align: center;
    color:#fff !important;
    background:linear-gradient(to bottom,#BF2C24 0%,#BF2C24 50%,#BF2C24 100%);
    transition:all 0.5 linear;
}
.reg-form-wrap .btn-sub:hover{
    opacity:0.8;
}
