*{
	margin:0px;
	padding:0px;
	border:0px;
	text-decoration:none;
}
body{
	font-size:14px;
}
input{
	outline:0;
}
ul{
    list-style:none;
}
a{
	cursor: pointer;
}
a:visited{
	color:#4c4c4c;
}
a:hover{
	color:#FBB03B !important;
}
/* #my-hover:hover{
	color:#FBB03B;
} */
/* 内容生成 */
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix:before{
	content:"";
	display:table;
}
.text-title{
	font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
}