/* main-one 1楼*/
.main-one{
    width:1200px;
    margin:0 auto;
    margin-top:30px;
    display:flex;
    justify-content:space-around;
}
/* 1楼s宽度比 */
.main-one-left,.main-one-right{
    width:240px;
}
.main-one-mid{
    width: 650px;
    margin-left:25px;
    margin-right:25px;
}
/* main-one  1楼 左 */
.main-one .title{
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6; 
}
.main-one .fc{
    float:left;
    font-weight: 700;
    font-size: 18px;
    color: #333;
}
.main-one .fb{
    float:right;
    font-size:12px;
    color:#777;
}
/* main-one  1楼 左 主体 */
/* 小轮播图 */
.main-one-left .banner-l{
    width:100%;
    height:502px;
    background: #fafafa;
    border: 1px solid #f5f5f5;
    border-radius:3px;
}
.main-one-left .banner-img{
    width:100px;
    height:145px;
    margin:0 auto;
    margin-top:40px;
    overflow: hidden;
    cursor:pointer;
}
.main-one-left .banner-img li{
    float:left;
}
.main-one-left .banner-img img{
    width:100px;
    height:145px;
}
/* main-one  1楼 左 小轮播图详情 */
.main-one .banner-details{
    margin-top:20px;
}
.main-one .banner-details>a:first-child{
    font-size:18px;
    color:#333;
}
.main-one .banner-details>a{
    display:block;
    text-align:center;
    margin-bottom:10px;
}
.main-one .banner-details>p{
    text-align: center;
    margin-bottom:20px;
    color:#999;

}
/* main-one  1楼 左 小轮博图布局 */
.main-one .banner-details>p a{
    margin-right:10px;
}
.main-one .banner-details>p span{
    margin-left:5px;
}
.main-one .banner-details>p a:visited{
    color:#999;
}
.main-one .banner-details>span{
    display:block;
    padding-right:20px;
    padding-left:20px;
    height:95px;
    overflow:hidden;
    color:#666;
}
/* main-one  1楼 左 立即略读按钮 */
.main-one-left .d-box{
    width:100px;
    height:30px;
    margin:0 auto;
    margin-top:20px;
    line-height:30px;
    color:#fff;
    border-radius:3px;
    background-image:linear-gradient(to bottom,#FBB03B 0%,#f4a933 100%);
}
.main-one-left .d-box:hover{
    opacity: 0.8;
}
/* main-one 1楼中 中 */
.main-one-mid .main-index{
    display:flex;
    justify-content: space-between;
}
/* main-one 1楼中 顶部 */
.main-one-mid .fc-mid{
    font-weight: 700;
    font-size: 18px;
    color: #333;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6;
}
/* main-one 1楼中 主体 */
.main-one .top-box-left{
    width:330px;
    margin-top:40px;
}
.main-one-mid .r-left{
    float: left;
}
.main-one-mid .r-right{
    float: right;
    width:205px;
}

.main-one-mid .r-right p{
    height:70px;
    overflow: hidden;
    font-size:13px;
    color:#666;
    letter-spacing: 1.93px;
    margin-bottom:10px;
    margin-top:10px;
    text-align:justify;
}
/* main-one 1楼中 right边距 */
.main-one .top-box-right{
    width:330px;
    margin-left:15px;
    margin-top:40px;
}
.main-one .r-right>a{
    line-height:21px;
    font-size:16px;
    color:#333;
}
/* a color */
.main-one .r-right>div>a{
    font-size:13px;
    color:#999;
}
.main-one-mid img{
    width:95px;
    height:125px;
    border-radius:3px;
}
.main-one .r-right div{
    position:relative;
}
.main-one-mid .mr-right{
    position:absolute;
    right:0;
    display:inline-block;
    width:70px;
    height:20px;
    line-height:19px;
    text-align: center;
    border-radius: 4px;
    border:1px solid #ebd893;
}
/* main-one  右 */
/* 新书力荐 */
.main-one-right{
    padding: 15px 17px 10px;
    border: 1px solid #f0f0f0;
    border-radius:5px;
}
.main-one-right .fc{
    float:left;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e6e6e6; 
}
/* main-one  右 主体 */
.main-one .main-r-body li{
    /* position: relative; */
    height:32px;
    border-bottom:1px solid #ccc;
}
/* 文本字体 */
.main-one .main-r-body li span{
    font-size:14px;
    display:inline-block;
    float:left;
    width:19px;
    height:19px;
    text-align: center;
    color:#a9a1b7;
    margin:7px 9px 0 0;
}
.main-one .main-r-body li .main-rb-a{  
    font-size:14px;
    color:#333;
    line-height:32px;
    float:left; 
}
.main-one .main-r-body>ul>li>a:last-child{
    /* position: absolute;
    top:0;
    right:0; */
    float:right;
    height:32px;
    line-height:32px;
    font-size: 13px;
    color: #b3b3b3;
}
/* main-one  右 主体 排行 */
.main-one .main-r-no1{
    background-image:linear-gradient(to right,#f51a1a 0%,#d84e38 100%);
    color:#fff !important;
    border-radius:3px;
}
.main-one .main-r-no2{
    background-image:linear-gradient(to right,#e040cc 0%,#e75bb5 100%);
    color:#fff !important;
    border-radius:3px;
}
.main-one .main-r-no3{
    background-image:linear-gradient(to right,#40e8d1 0%,#0ae8ca 100%);
    color:#fff !important;
    border-radius:3px;
}




