/*welcome 样式*/
*{
	margin:0px;
	padding:0px;
	border:0px;
	text-decoration:none;
}
body{
	font-size:16px;
}
input{
	outline:0;
}
/* top-nav */
.welcome-top-nav{
	height:35px;
	background:#f7f7f7;
}
/*主*/
.welcome-top-second{
	width:1200px;
	height:35px;
	margin:0 auto;
}
/*用户浮动*/
.welcome-top-second .user{
	width:100px;
	height:35px;
	line-height:35px;
	float:right;
}
/*欢迎*/
.welcome-top-second .welcome{
	width:200px;
	height:35px;
	line-height:35px;
	float:left;
}

.welcome-top-second .user>div{
	float:left;
}
/*a标签点击前的状态*/
.welcome-top-second .user>div a:link{
	color:#4c4c4c;
	text-decoration:none;
}
.welcome-top-second .user>div a:visited{
	color:#4c4c4c;
}
.welcome-top-second .user>div a:hover{
	color:#ff9800;
}
.welcome-top-second .user>div a:focus{
	color:#f3e480;
}
.welcome-top-second .user>div:first-child{
	margin-right:20px;
}
/*logo-wrap*/
.logo-wrap>.box-center{
	width:1200px;
	height:80px;
	border-bottom:1px solid red;
	margin:0 auto;
}
.logo-wrap .box-logo{
	width:200px;
	height:60px;
	border:0px solid yellow;
	float:left;
	margin-top:15px;
	margin-left:5px;
	margin-right:200px;
}
.logo-wrap .box-logo a{
	display:block;
	width:200px;
	height:60px;
	border:0px solid black;
	line-height:60px;
	font-size:30px;
	background:url("../img/header/logo.jpg") no-repeat;
	background-size:60px 60px;
}
/*
.logo-wrap .box-logo img{
	height:100%;
}
*/
/*搜索框*/
.logo-wrap>.box-center .search-wrap{
	width:400px;
	height:40px;
	float:left;
	margin-top:25px;
	border:0px solid #d3d1d1;
	border-right:2px;
	border-radius:4px;
}
.logo-wrap>.box-center .search-wrap p{
	float:left;
	overflow:hidden;
	width:320px;
	height:38px;
	border-right:none;
	border:1px solid #dbdbdb;
}
.logo-wrap>.box-center .search-wrap>p input{
	width:305px;
	height:38px;
	margin-left:15px;
}
.logo-wrap>.box-center .search-wrap>input{
	float:left;
	width:60px;
	height:40px;
	background:url("../img/header/search1.png") no-repeat;
	background-position:left center;
	background-size:40px;
}
/*书架*/
.logo-wrap .book-shelf{
	width:150px;
	height:50px;
	float:right;
	margin-top:15px;
	border-radius:20px;
	border:1px solid #e6e6e6;
}
/* 我的书架 */
.logo-wrap .book-shelf a{
	line-height:50px;
	font-size:25px;
	color:#4c4c4c;
	text-decoration:none;
}
.logo-wrap .book-shelf a:link,a:visited{
	color:#000;
}
.logo-wrap .book-shelf a:hover{
	color:#ff9800;
}
.logo-wrap .book-shelf a:focus{
	color:#f3e480;
}
