<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="txtPrompt1">
		<div class="popout">您好，系统出错</div>
	</div>
	<script type="text/javascript">
	// function myfun1() {
	// 	//console.log(/function\s+(\w+)/.exec(arguments.callee)[1]);
	// }
	// myfun1.prototype.getName = function(){
	// 	console.log(arguments.callee);
	// 	//return /function\s+(\w+)/.exec(arguments.callee)[1]
	// }
	// var fun = new myfun1();
	// fun.getName();
	// function abc() {
	// 	alert(1);
	// }
	// function a(str) {
	// 	var fun = /function\s+(\w+)/.exec(str)[1];
	// 	// console.log(fun);
	// 	var fun1 = eval(fun);
	// 	// console.log(fun1);
	// 	console.log(fun1);
	// }
	// a(abc)
	console.log(document.getElementById('txtPrompt1'));
	document.getElementById('txtPrompt1').style.display = 'block';
	</script>
</body>
</html>